@model ERPTP.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Movie.Id == 0)
{
    <h2>New Movie</h2>
}
else
{
    <h2>Edit Movie</h2>
}
<h5>@Html.ActionLink("Back To List", "Random")</h5>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(n=>n.Movie.Name)
        @Html.TextBoxFor(n=>n.Movie.Name, new {@class="form-control"})
        @Html.ValidationMessageFor(n=>n.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n=>n.Movie.AddedDate)
        @Html.TextBoxFor(n=>n.Movie.AddedDate, "{0:d MMM yyyy}", new {@class="form-control"})
        @Html.ValidationMessageFor(n=>n.Movie.AddedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(n=>n.Movie.ReleaseDate)
        @Html.TextBoxFor(n=>n.Movie.ReleaseDate, "{0:d MMM yyyy}", new {@class="form-control"})
        @Html.ValidationMessageFor(n=>n.Movie.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(n=>n.Movie.NumberOfStock)
        @Html.TextBoxFor(n=>n.Movie.NumberOfStock, new {@class="form-control"})
        @Html.ValidationMessageFor(n=>n.Movie.NumberOfStock)
    </div>
    <div class="form-group">
        @Html.LabelFor(n=>n.Movie.GenreId)
        @Html.DropDownListFor(g=>g.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(g=>g.Movie.GenreId)

    </div>
    @Html.HiddenFor(i=>i.Movie.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-default">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}