@model ERPTP.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Customer.Id == 0)
{
    <h2>New Customer</h2>
}
else
{
    <h2>Edit Customer</h2>
}

<h5>@Html.ActionLink("Back to List", "Customer")</h5>
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(n=>n.Customer.Name)
        @Html.TextBoxFor(n=>n.Customer.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(n=>n.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n=>n.Customer.Birthday)
        @Html.TextBoxFor(n=>n.Customer.Birthday, "{0:d MMM yyyy}", new {@class = "form-control"})
        @Html.ValidationMessageFor(b=>b.Customer.Birthday)
    </div>
    <div class="form-group">
        @Html.LabelFor(n=>n.Customer.MembershipTypeId)
        @Html.DropDownListFor(c=>c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership", new{ @class = "form-control"})
        @Html.ValidationMessageFor(m=>m.Customer.MembershipTypeId)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(n => n.Customer.IsSubscribedToNewsletter) Sebscribed to NewsLetter?
        </label>
    </div>
    @Html.HiddenFor(c=>c.Customer.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-default">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
